# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Distribution / Packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store

# Logs
*.log

# R2D2 Specific
r2d2_commands.txt
